@import 'css/reset.css';
@import 'css/typography.css';

/*************************************
**************************************
reset.css

zero out browser default styles.
(based on the standard Meyers reset).
**************************************
*************************************/

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: 'Quicksand';
    vertical-align: baseline;}
:focus {outline: 0;}
body {
line-height: 1;
color: black;
background: white;}
ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
.l, .left {float: left;}
.r, .right {float: right;}
p {margin: 2% 0%;}
/* end reset*/

body {color: #2a2a2a;text-shadow: 0px 0px 0px #f9f9f9;}

h1, h2, h3, h4, h5, h6 {font-family: 'Amatic SC';}

.header h1 a {font-size: 3rem;font-family: 'Amatic SC';text-decoration: none;color: #2a2a2a;}

section h2 {
    font-size: 2em;
    font-family: 'Amatic SC';
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

section h1 {
    font-size: 3rem;
    line-height: 1.4;
}

section h1 span {
    width: 23%;
    float: left;
    margin-right: .5em;
}

.strike {text-decoration: line-through;}

.container {overflow: hidden;position: relative;}

.header{background: rgba(0, 0, 0, .05);float: left;width: 100%;padding: 1% 0;}

.logo {padding: 1%;float: left;margin-left: 2%;}

.mycon{
    width: 14px;
    padding-top: 8px;
    float: left;
    margin-right: 5px;
}

.nav{
    float: left;
    padding: 1%;
    width: 98%;
}



.nav ul {
	margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
    overflow: hidden;
}

.open ul {max-height: 10vh;}

.nav li {
	float: left;
    width: auto;
    margin-right: 1em;
}

.nav a {
    display: block;
    padding: 1em;
    color: #2a2a2a;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

.menuToggle {
    float: right;
    padding: 1% 2%;
    margin: 17px 20px 0 0;
    background: rgba(0, 0, 0, 0.3);
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    line-height: 1.6;
	display: none;
}

section{
    float: left;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.sectionInner {
max-width: 1200px;
margin: 0 auto;
padding: 0 2em;
}

#secIntro {
	height: calc(100vh - 72px);
	background: rgba(0, 0, 0, 0);
}

#secIntro h2 {font-size: 4rem;}
.tag {text-align: center;font-family: 'Amatic SC';display: block;font-size: 2em;}

.section-1 {
	background: rgba(0, 0, 0, .07);
}
.section-2 {
	background: rgba(0, 0, 0, .11);
}
.section-3 {
	background: rgba(0, 0, 0, .15);
}
.section-4 {
	background: rgba(0, 0, 0, .19);
}
.section-5 {
	background: rgba(0, 0, 0, .23);
}

.section-6 {
	background: rgba(0, 0, 0, .27);
}

.iconWrap{
    margin: 1% auto;
    max-width: 500px;
}

.iconWrap a {
    text-decoration: none;
    float: left;
    width: 14%;
    position: relative;
    color: rgba(0, 0, 0, 0.45);
    padding: 3%;
}

.iconLabel{
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 10%;
    font-size: 10px;
    display: none;
}

.sectContent {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

.moreLink {
    display: block;
    width: 150px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin: 0% auto;
    font-size: 18px;
    padding: 1%;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    clear: both;
}

.moreLink:hover {text-decoration: none;color: rgba(0, 0, 0, 0.8);border-color: rgba(0, 0, 0, 0.8);}

.sectContent p {
    float: right;
    width: 96%;
    padding: 1%;
    margin: 1%;
    line-height: 1.8;
}

.description {
    line-height: 1.2;
    padding-left: 2px;
}

.def {
    line-height: 1.2;
    padding: .5em 0;
}

.contentImg {width: 50%;margin: 5% 25%;float: right;}
#content p {
    width: 90%;
    margin: 2% 5%;
    line-height: 1.5;
    float: right;
}

#content .moreLink {margin-top: 2em;}

.codeImg {
    width: 30%;
    margin: 5% 35%;
    float: right;
}

/*footer*/
.footer{
    background: rgba(0, 0, 0, .31);
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2em;
    overflow: hidden;
}

.footerLinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    width: 100%;
    float: left;
    padding: 2em 0;
}

.footerLinks li a {color: #ffffff;text-decoration: none;padding: 0 1em;}

.footerLinks li a:hover {text-decoration: underline;}

/*code view styles*/
.codeView {
    background: #fff;
    max-width: 650px;
    width: 98%;
    border: solid 1px #444;
    float: left;
    white-space: nowrap;
    overflow: auto;
    margin: 1%;
    height: 300px;
}
.codeLine {
    float: left;
    width: 100%;
    line-height: 30px;
    height: 30px;
}
.lineNumber {
    background: rgba(0, 0, 0, .27);
    float: left;
    width: 20px;
    text-align: center;
    font-size: 11px;
    color: #444;
}
.codeView-html {
    padding: 0 0.5em;
    letter-spacing: -1px;
    font-size: 14px;
}
.codeView-bracket, .codeView-html {color: #170;}
.attributeLabel {color: #00c;}
.attributeName {color: #a11;}
.codeIndent {margin-left: 1.5em;}
.codeIndent-dbl {margin-left: 3em;}
.codeIndent-tpl {margin-left: 4.5em;}

/*svg styles*/
svg {
    width: 100%;
    fill: rgba(0, 0, 0, 0.15);
    height: auto;
    margin: 0 1%;
    cursor: pointer;
}

.iconWrap a:hover svg {fill: rgba(0, 0, 0, 0.2);color: rgba(0, 0, 0, 0.2);}

.sectContent svg {
    cursor: default;
    text-align: right;
    width: 25%;
    cursor: default;
    margin: 8px 37.5%;
}

/*Coming Soon Page*/
#comingSoon {
    background: #fff url('assets/clouds-grayscale.jpg') center center no-repeat;
}



/*breakpoints*/
@media screen and (min-width: 650px) {
	.nav {display: block;float: right;width: auto;}
	.nav ul {max-height: inherit;}
	.nav a {background: rgba(0, 0, 0, 0.05);width: auto;text-align: center;}
	.nav a:hover {background: rgba(0, 0, 0, .2);}
	.menuToggle {display: none;}
	.header {height: 70px;}
	#logo {margin-left: 1%;}
	#secIntro h2 {font-size: 5rem;}
	#secIntro {height: calc(100vh - 96px);}
    .sectContent svg {width: 15%;margin: 2% 1%;}
    .sectContent p {width: 76%;}
    .contentImg, #content p {width: 46%;margin: 0 2%;}
    .codeImg {width: 20%;margin: 5% 40%;}
}

@media screen and (min-width: 1450px) {
  section h2 {font-size: 4em;}
  .sectContent p{font-size: 18px;}
}
